{{ 'footer.css' | asset_url | stylesheet_tag }}
<div class="c-container">
  <div class="c-footer__top">
    <div class="c-footer__logo">
      <a href="{{ section.settings.logo_link }}">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = 390 | append: 'x' -%}
          <img
            srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: section.settings.logo.width }} 2x"
            src="{{ section.settings.logo | image_url: width: image_size }}"
            loading="lazy"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          <svg width="282" height="96" viewBox="0 0 282 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M204.492 78V68.68H206.672V70.48C206.832 69.8533 207.145 69.38 207.612 69.06C208.078 68.7267 208.592 68.56 209.152 68.56C209.512 68.56 209.798 68.5867 210.012 68.64V70.64C209.785 70.6133 209.498 70.6 209.152 70.6C208.378 70.6 207.772 70.8867 207.332 71.46C206.892 72.02 206.672 72.8267 206.672 73.88V78H204.492ZM219.963 72.86C219.963 73.1 219.943 73.5 219.903 74.06H212.983C213.01 74.7933 213.25 75.36 213.703 75.76C214.156 76.1467 214.783 76.34 215.583 76.34C216.61 76.34 217.303 75.9867 217.663 75.28H219.863C219.716 76.1467 219.243 76.86 218.443 77.42C217.656 77.9667 216.703 78.24 215.583 78.24C214.116 78.24 212.956 77.8 212.103 76.92C211.25 76.04 210.823 74.8467 210.823 73.34C210.823 71.8467 211.243 70.66 212.083 69.78C212.936 68.8867 214.076 68.44 215.503 68.44C216.836 68.44 217.91 68.8533 218.723 69.68C219.55 70.4933 219.963 71.5533 219.963 72.86ZM212.983 72.4H217.823C217.81 71.68 217.596 71.1267 217.183 70.74C216.783 70.3533 216.21 70.16 215.463 70.16C214.703 70.16 214.103 70.3667 213.663 70.78C213.223 71.1933 212.996 71.7333 212.983 72.4ZM223.819 78L220.379 68.68H222.779L224.719 74.84L226.739 68.68H229.099L231.119 74.84L233.059 68.68H235.459L232.019 78H230.179L227.919 71.36L225.659 78H223.819ZM240.442 78.24C238.989 78.24 237.862 77.78 237.062 76.86C236.262 75.94 235.862 74.7667 235.862 73.34C235.862 71.9267 236.282 70.76 237.122 69.84C237.962 68.9067 239.089 68.44 240.502 68.44C241.129 68.44 241.702 68.5733 242.222 68.84C242.742 69.1067 243.142 69.4733 243.422 69.94V68.68H245.602V78H243.422V76.74C243.155 77.1933 242.735 77.56 242.162 77.84C241.602 78.1067 241.029 78.24 240.442 78.24ZM240.762 76.3C241.655 76.3 242.335 76.02 242.802 75.46C243.282 74.9 243.522 74.1933 243.522 73.34C243.522 72.4867 243.282 71.78 242.802 71.22C242.335 70.66 241.655 70.38 240.762 70.38C239.922 70.38 239.255 70.66 238.762 71.22C238.282 71.7667 238.042 72.4733 238.042 73.34C238.042 74.2067 238.282 74.92 238.762 75.48C239.255 76.0267 239.922 76.3 240.762 76.3ZM248.398 78V68.68H250.578V70.48C250.738 69.8533 251.051 69.38 251.518 69.06C251.985 68.7267 252.498 68.56 253.058 68.56C253.418 68.56 253.705 68.5867 253.918 68.64V70.64C253.691 70.6133 253.405 70.6 253.058 70.6C252.285 70.6 251.678 70.8867 251.238 71.46C250.798 72.02 250.578 72.8267 250.578 73.88V78H248.398ZM262.192 64H264.372V78H262.192V76.74C261.925 77.1933 261.505 77.56 260.932 77.84C260.372 78.1067 259.798 78.24 259.212 78.24C257.758 78.24 256.632 77.78 255.832 76.86C255.032 75.94 254.632 74.7667 254.632 73.34C254.632 71.9267 255.052 70.76 255.892 69.84C256.732 68.9067 257.858 68.44 259.272 68.44C259.898 68.44 260.472 68.5733 260.992 68.84C261.512 69.1067 261.912 69.4733 262.192 69.94V64ZM259.532 76.3C260.425 76.3 261.105 76.02 261.572 75.46C262.052 74.9 262.292 74.1933 262.292 73.34C262.292 72.4867 262.052 71.78 261.572 71.22C261.105 70.66 260.425 70.38 259.532 70.38C258.692 70.38 258.025 70.66 257.532 71.22C257.052 71.7667 256.812 72.4733 256.812 73.34C256.812 74.2067 257.052 74.92 257.532 75.48C258.025 76.0267 258.692 76.3 259.532 76.3ZM270.428 78.24C269.254 78.24 268.301 77.94 267.568 77.34C266.834 76.74 266.468 76.0067 266.468 75.14H268.648C268.648 75.54 268.821 75.8667 269.168 76.12C269.528 76.3733 269.988 76.5 270.548 76.5C270.961 76.5 271.288 76.4 271.528 76.2C271.768 76 271.888 75.7333 271.888 75.4C271.888 74.8667 271.654 74.54 271.188 74.42L268.788 73.76C267.441 73.3867 266.768 72.5267 266.768 71.18C266.768 70.4067 267.101 69.76 267.768 69.24C268.434 68.7067 269.294 68.44 270.348 68.44C271.534 68.44 272.441 68.7067 273.068 69.24C273.708 69.7733 274.028 70.4733 274.028 71.34H271.888C271.888 70.9533 271.741 70.6533 271.448 70.44C271.168 70.2133 270.774 70.1 270.268 70.1C269.881 70.1 269.561 70.1933 269.308 70.38C269.054 70.5533 268.928 70.78 268.928 71.06C268.928 71.5667 269.194 71.9 269.728 72.06L271.948 72.7C272.588 72.8867 273.108 73.2067 273.508 73.66C273.908 74.1 274.108 74.6133 274.108 75.2C274.108 76.1067 273.781 76.84 273.128 77.4C272.488 77.96 271.588 78.24 270.428 78.24Z" fill="#FBF9F6"/>
            <path d="M103.42 59.8397C102.001 59.0641 100.909 57.9729 100.146 56.566C99.3818 55.1592 99 53.5359 99 51.6931C99 49.8504 99.3818 48.2331 100.146 46.8383C100.909 45.4435 102.001 44.3583 103.42 43.5827C104.839 42.8071 106.493 42.4194 108.384 42.4194C110.979 42.4194 113.086 43.0627 114.713 44.3463C116.336 45.6329 117.259 47.3764 117.476 49.5829H111.911C111.715 48.7592 111.333 48.14 110.765 47.7281C110.194 47.3163 109.412 47.1119 108.42 47.1119C107.208 47.1119 106.261 47.5117 105.582 48.3113C104.902 49.1109 104.562 50.2382 104.562 51.6931C104.562 53.1481 104.902 54.2754 105.582 55.075C106.261 55.8746 107.205 56.2744 108.42 56.2744C109.415 56.2744 110.197 56.079 110.765 55.6912C111.333 55.3035 111.715 54.7233 111.911 53.9447H117.476C117.256 56.1031 116.336 57.8166 114.713 59.0911C113.089 60.3627 110.979 61 108.384 61C106.493 61 104.836 60.6122 103.42 59.8366V59.8397Z" fill="#FBF9F6"/>
            <path d="M123.769 59.8C122.29 59.0004 121.156 57.8972 120.368 56.4903C119.581 55.0865 119.187 53.4842 119.187 51.6896C119.187 49.895 119.581 48.3017 120.368 46.9069C121.156 45.5121 122.29 44.4149 123.769 43.6152C125.248 42.8156 126.971 42.4158 128.934 42.4158C130.898 42.4158 132.614 42.8156 134.082 43.6152C135.549 44.4149 136.676 45.5181 137.464 46.925C138.252 48.3318 138.646 49.919 138.646 51.6896C138.646 53.4602 138.252 55.0835 137.464 56.4903C136.676 57.8972 135.549 59.0004 134.082 59.8C132.614 60.5997 130.898 60.9995 128.934 60.9995C126.971 60.9995 125.248 60.5997 123.769 59.8ZM131.989 54.9993C132.741 54.1516 133.116 53.0484 133.116 51.6896C133.116 50.3309 132.741 49.2306 131.989 48.3799C131.237 47.5322 130.218 47.1083 128.934 47.1083C127.65 47.1083 126.601 47.5322 125.861 48.3799C125.122 49.2276 124.752 50.3309 124.752 51.6896C124.752 53.0484 125.122 54.1516 125.861 54.9993C126.601 55.847 127.626 56.2709 128.934 56.2709C130.242 56.2709 131.237 55.847 131.989 54.9993Z" fill="#FBF9F6"/>
            <path d="M141.12 35H146.686V60.4556H141.12V35Z" fill="#FBF9F6"/>
            <path d="M153.739 59.8C152.26 59.0004 151.126 57.8972 150.339 56.4903C149.551 55.0865 149.157 53.4842 149.157 51.6896C149.157 49.895 149.551 48.3017 150.339 46.9069C151.126 45.5121 152.26 44.4149 153.739 43.6152C155.218 42.8156 156.941 42.4158 158.905 42.4158C160.868 42.4158 162.585 42.8156 164.052 43.6152C165.519 44.4149 166.647 45.5181 167.434 46.925C168.222 48.3318 168.616 49.919 168.616 51.6896C168.616 53.4602 168.222 55.0835 167.434 56.4903C166.647 57.8972 165.519 59.0004 164.052 59.8C162.585 60.5997 160.871 60.9995 158.905 60.9995C156.938 60.9995 155.218 60.5997 153.739 59.8ZM161.959 54.9993C162.711 54.1516 163.087 53.0484 163.087 51.6896C163.087 50.3309 162.711 49.2306 161.959 48.3799C161.208 47.5322 160.188 47.1083 158.905 47.1083C157.621 47.1083 156.571 47.5322 155.832 48.3799C155.092 49.2276 154.722 50.3309 154.722 51.6896C154.722 53.0484 155.092 54.1516 155.832 54.9993C156.571 55.847 157.597 56.2709 158.905 56.2709C160.212 56.2709 161.208 55.847 161.959 54.9993Z" fill="#FBF9F6"/>
            <path d="M172.582 59.0547C171.466 57.8072 170.91 56.0426 170.91 53.764V42.927H176.548V52.5285C176.548 53.764 176.779 54.6929 177.239 55.3091C177.699 55.9254 178.439 56.235 179.458 56.235C180.598 56.235 181.445 55.8953 182.005 55.2159C182.561 54.5365 182.841 53.5806 182.841 52.3421V42.927H188.37V60.4555H182.841V57.9455C182.332 58.8894 181.623 59.6259 180.712 60.1459C179.801 60.666 178.694 60.9275 177.383 60.9275C175.297 60.9275 173.697 60.3022 172.582 59.0547Z" fill="#FBF9F6"/>
            <path d="M192.257 42.9272H197.823V46.6007C198.114 45.3411 198.713 44.3641 199.624 43.6727C200.532 42.9813 201.545 42.6356 202.66 42.6356C203.241 42.6356 203.728 42.6837 204.116 42.7799V47.9444C203.46 47.8722 202.904 47.8362 202.444 47.8362C201.013 47.8362 199.885 48.3081 199.061 49.255C198.238 50.2019 197.826 51.6809 197.826 53.692V60.4557H192.26V42.9272H192.257Z" fill="#FBF9F6"/>
            <path d="M209.299 59.8397C207.88 59.0641 206.789 57.9729 206.025 56.566C205.261 55.1592 204.879 53.5359 204.879 51.6931C204.879 49.8504 205.261 48.2331 206.025 46.8383C206.789 45.4435 207.88 44.3583 209.299 43.5827C210.718 42.8071 212.372 42.4194 214.263 42.4194C216.858 42.4194 218.965 43.0627 220.592 44.3463C222.216 45.6329 223.139 47.3764 223.355 49.5829H217.79C217.594 48.7592 217.213 48.14 216.644 47.7281C216.073 47.3163 215.291 47.1119 214.299 47.1119C213.087 47.1119 212.14 47.5117 211.461 48.3113C210.781 49.1109 210.442 50.2382 210.442 51.6931C210.442 53.1481 210.781 54.2754 211.461 55.075C212.14 55.8746 213.084 56.2744 214.299 56.2744C215.294 56.2744 216.076 56.079 216.644 55.6912C217.213 55.3035 217.594 54.7233 217.79 53.9447H223.355C223.136 56.1031 222.216 57.8166 220.592 59.0911C218.969 60.3627 216.858 61 214.263 61C212.372 61 210.715 60.6122 209.299 59.8366V59.8397Z" fill="#FBF9F6"/>
            <path d="M225.83 35H231.395V60.4556H225.83V35Z" fill="#FBF9F6"/>
            <path d="M236.741 59.0547C235.625 57.8072 235.069 56.0426 235.069 53.764V42.927H240.707V52.5285C240.707 53.764 240.938 54.6929 241.398 55.3091C241.858 55.9254 242.598 56.235 243.617 56.235C244.757 56.235 245.604 55.8953 246.164 55.2159C246.72 54.5365 247 53.5806 247 52.3421V42.927H252.529V60.4555H247V57.9455C246.491 58.8894 245.782 59.6259 244.871 60.1459C243.963 60.666 242.853 60.9275 241.542 60.9275C239.456 60.9275 237.856 60.3022 236.741 59.0547Z" fill="#FBF9F6"/>
            <path d="M271.895 43.6185C273.118 44.394 274.071 45.4792 274.751 46.8741C275.43 48.2689 275.77 49.8741 275.77 51.6928C275.77 53.5115 275.424 55.1167 274.733 56.5116C274.041 57.9064 273.073 58.9916 271.823 59.7672C270.575 60.5427 269.15 60.9305 267.55 60.9305C266.314 60.9305 265.193 60.651 264.186 60.0948C263.178 59.5387 262.433 58.8353 261.949 57.9846V60.4586H256.419V35H261.949V45.4371C262.433 44.5654 263.196 43.8499 264.24 43.2908C265.283 42.7347 266.435 42.4551 267.694 42.4551C269.27 42.4551 270.671 42.8429 271.895 43.6185ZM268.93 55.0206C269.706 54.1608 270.094 53.0516 270.094 51.6928C270.094 50.3341 269.706 49.2338 268.93 48.3831C268.154 47.5354 267.159 47.1115 265.948 47.1115C264.736 47.1115 263.668 47.5354 262.893 48.3831C262.117 49.2308 261.729 50.3341 261.729 51.6928C261.729 53.0516 262.123 54.1909 262.911 55.0386C263.699 55.8863 264.712 56.3102 265.948 56.3102C267.183 56.3102 268.154 55.8803 268.93 55.0206Z" fill="#FBF9F6"/>
            <path d="M278.434 46.8231C278.082 46.6187 277.812 46.3391 277.622 45.9874C277.433 45.6357 277.34 45.2449 277.34 44.812C277.34 44.3791 277.433 43.9853 277.622 43.6306C277.812 43.2759 278.082 42.9963 278.434 42.7919C278.786 42.5875 279.198 42.4853 279.67 42.4853C280.142 42.4853 280.554 42.5875 280.906 42.7919C281.257 42.9963 281.528 43.2759 281.717 43.6306C281.907 43.9853 282 44.3791 282 44.812C282 45.2449 281.907 45.6297 281.717 45.9844C281.528 46.3391 281.257 46.6187 280.906 46.8231C280.554 47.0275 280.142 47.1327 279.67 47.1327C279.198 47.1327 278.786 47.0305 278.434 46.8231ZM280.575 46.3662C280.83 46.2098 281.026 45.9964 281.164 45.7259C281.302 45.4553 281.372 45.1487 281.372 44.812C281.372 44.4753 281.302 44.1597 281.164 43.8891C281.026 43.6186 280.827 43.4052 280.575 43.2489C280.319 43.0925 280.019 43.0174 279.67 43.0174C279.321 43.0174 279.023 43.0955 278.765 43.2489C278.503 43.4052 278.305 43.6186 278.167 43.8891C278.028 44.1597 277.959 44.4693 277.959 44.812C277.959 45.1547 278.028 45.4553 278.167 45.7259C278.305 45.9964 278.503 46.2098 278.765 46.3662C279.026 46.5225 279.327 46.6006 279.67 46.6006C280.013 46.6006 280.322 46.5225 280.575 46.3662ZM278.852 43.6637H279.832C280.07 43.6637 280.265 43.7418 280.415 43.8952C280.566 44.0515 280.641 44.2379 280.641 44.4603C280.641 44.6166 280.602 44.7579 280.521 44.8842C280.44 45.0104 280.325 45.1096 280.175 45.1758L280.641 45.8732H280.043L279.634 45.2329H279.375V45.8732H278.852V43.6607V43.6637ZM279.757 44.827C279.856 44.827 279.937 44.791 279.998 44.7188C280.058 44.6467 280.088 44.5595 280.088 44.4603C280.088 44.3551 280.058 44.2679 279.998 44.1988C279.937 44.1296 279.856 44.0936 279.757 44.0936H279.39V44.824H279.757V44.827Z" fill="#FBF9F6"/>
            <path d="M86.7623 19.5372C86.075 21.2842 82.0137 22.472 81.5416 23.6738C80.8508 25.4312 82.2428 25.8619 81.4166 27.9736C80.6252 29.9846 72.8183 34.8575 67.615 37.8896C65.4211 39.1678 63.1128 40.4008 62.3109 40.6057C61.6062 40.7863 61.2626 40.3869 61.1689 40.1472C60.9328 39.5394 61.3841 38.7232 61.5334 38.3481C61.6826 37.973 63.1822 33.9267 65.3552 31.8289C67.5073 29.7519 69.2707 28.1889 70.3677 27.0636C71.468 25.9383 74.5609 22.7916 76.6714 21.1557C78.7819 19.5198 83.3258 17.1337 84.1242 16.9288C85.2419 16.6405 87.4496 17.7901 86.7623 19.5372Z" fill="#F3B318"/>
            <path d="M72.801 5.68252C72.2977 6.42232 71.4889 7.22463 70.9473 7.60321C69.656 8.50972 64.772 9.67672 63.1371 12.2816C61.5125 14.8692 60.4469 16.96 59.4888 18.3042C58.5307 19.6518 55.7919 24.938 54.9866 27.3658C54.1847 29.7797 52.3866 29.9603 53.0358 31.0092C53.6779 32.0442 52.1714 33.5828 53.3065 33.6731C54.4277 33.76 55.7989 32.3603 56.1286 33.496C56.4549 34.6213 56.5521 34.7429 57.7323 33.9371C59.3742 32.8153 62.002 29.672 63.6647 27.925C66.5562 24.8859 67.6809 25.9418 69.5241 23.58C72.2213 20.1276 75.4704 15.47 75.6717 13.1986C75.8765 10.8958 76.786 10.3401 75.8904 8.54098C74.9879 6.72449 73.2904 5.77977 72.7941 5.68252H72.801Z" fill="#E86E05"/>
            <path d="M54.3965 0.840867C52.0708 1.3549 51.7931 2.01829 50.4705 9.13142C49.148 16.2446 48.5058 20.8987 47.9608 26.0112C47.5165 30.1687 47.7386 30.8946 49.6027 32.0511C50.3386 32.5061 51.1648 31.6378 52.4318 27.5881C52.8553 26.2405 53.2301 24.0871 54.1118 20.0026C55.2955 16.1473 56.743 10.8159 57.4026 8.03042C57.9927 5.53665 58.5064 3.86603 58.1801 2.76155C57.8538 1.65707 55.7815 0.535225 54.3965 0.840867Z" fill="#FF7800"/>
            <path d="M28.14 12.424C29.5146 15.5985 35.0652 27.859 36.0961 30.0471C37.9498 33.9823 39.432 34.3713 41.5494 31.5892C42.0736 30.9015 43.8474 31.7316 44.5139 30.2277C45.701 27.5394 45.458 24.035 45.2081 20.8327C44.1702 7.62752 44.7013 -4.00774 38.0088 1.32364C33.038 5.28658 24.1273 3.15403 28.1435 12.424H28.14Z" fill="#D95E08"/>
            <path d="M36.5161 34.0066C36.6966 32.6902 31.6043 26.6434 30.2471 24.3545C29.4487 23.0069 28.1609 20.6104 27.0987 18.3632C26.3558 16.7968 22.1764 10.2533 20.899 9.95457C20.2152 9.79481 20.3992 12.2122 19.5244 12.1948C16.7821 12.1358 17.5458 14.2093 19.4862 17.2935C20.5901 19.0474 20.6422 19.5788 22.5895 22.4026C27.661 29.7554 29.4695 31.2627 32.7533 32.9333C33.6524 33.3883 36.3322 35.3264 36.5127 34.01L36.5161 34.0066Z" fill="#DB030D"/>
            <path d="M52.942 64.9911C52.6539 66.2137 55.1602 74.1812 56.1043 76.4805C56.6597 77.835 57.5345 80.2281 58.2287 82.4579C58.7147 84.0139 61.6757 90.6164 62.7483 91.0298C63.3245 91.252 63.6612 93.4506 65.3274 92.7837C67.5733 91.8842 66.0703 87.3655 64.6991 84.257C63.9216 82.4891 63.9285 81.9786 62.5261 79.1166C58.8744 71.6562 58.7564 68.3115 56.0835 66.3977C55.3545 65.8733 53.2301 63.772 52.942 64.9911Z" fill="#447945"/>
            <path d="M3.59143 25.7785C4.54255 24.9264 6.02709 23.2466 8.04503 20.7389C9.01004 19.5406 10.9678 15.8278 13.1339 17.7693C18.3373 22.4373 22.6242 29.3976 24.2279 30.8807C28.0949 34.4546 33.4059 36.0523 33.1282 37.5527C32.4721 41.1128 31.9966 42.3805 30.674 43.0196C28.2407 44.1935 27.1299 43.2349 19.993 41.1683C15.4527 39.8555 16.442 37.327 12.8249 35.8925C10.4853 34.9652 6.73291 35.0937 4.4766 33.1313C2.94578 31.9261 5.34441 31.742 4.51826 29.5018C3.6921 27.2616 2.03979 27.1748 3.59491 25.782L3.59143 25.7785Z" fill="#C2030D"/>
            <path d="M28.4004 48.2294C27.0258 49.0838 23.9364 49.4172 20.1735 49.5249C17.9589 49.5874 14.1266 49.8062 10.6519 50.1327C8.22901 50.3584 2.72015 50.4105 1.32472 49.5214C0.574928 49.0421 0.901224 48.9032 0.265988 47.1909C-0.490742 45.1486 0.540216 41.3663 1.20669 40.9044C3.10199 39.5915 7.42715 39.6679 11.8773 41.6476C18.0248 44.3811 25.245 44.4019 29.8826 46.2219C31.1496 46.7185 29.7785 47.3784 28.4038 48.2294H28.4004Z" fill="#B80045"/>
            <path d="M32.3402 54.2797C32.6006 55.3321 31.8751 56.2733 30.497 57.3049C29.5146 58.0412 27.5256 59.8056 25.252 62.209C23.1519 64.4319 14.5015 71.1109 9.27385 70.4579C6.05948 70.0585 3.41093 69.9057 1.67878 63.8137C0.512446 59.7188 0.474262 57.9057 1.71002 56.2733C4.56685 52.5014 13.1755 52.9286 19.1842 51.772C22.35 51.1642 28.2789 50.8794 31.2954 52.2652C32.0209 52.5987 32.1042 53.3176 32.3437 54.2832L32.3402 54.2797Z" fill="#D10061"/>
            <path d="M35.0443 57.6939C33.4823 57.8918 26.6127 65.1196 23.985 67.2452C22.4368 68.4956 19.6772 70.583 17.0807 72.3856C15.2687 73.6429 7.77428 80.044 7.48616 81.4923C7.33343 82.2668 10.1764 81.3499 10.2007 82.2877C10.277 85.226 12.6826 83.7916 16.2163 80.8081C18.2296 79.1097 18.8545 78.8944 22.0827 75.9803C30.4935 68.3879 32.1736 66.0157 33.9717 62.0215C34.4646 60.9309 36.6064 57.4994 35.0443 57.6973V57.6939Z" fill="#A11473"/>
            <path d="M25.7206 90.6963C25.5609 88.8347 25.1617 91.0332 23.9329 90.4879C22.1209 89.6856 22.1556 89.307 21.9647 87.0599C21.7807 84.9169 31.4238 70.906 34.7423 65.9219C36.1412 63.8206 37.6616 61.7089 38.2865 61.174C38.8349 60.7051 39.3209 60.9101 39.5118 61.0837C39.9908 61.5213 39.9492 62.4522 39.9839 62.8516C40.0186 63.251 40.4664 67.5231 39.4493 70.3503C38.4427 73.1462 37.5575 75.3135 37.0681 76.8C36.5821 78.2865 35.204 82.4509 34.0377 84.837C32.8713 87.2231 29.8583 91.3423 29.2335 91.8737C28.3587 92.6205 25.8768 92.558 25.7171 90.6963H25.7206Z" fill="#008FD2"/>
            <path d="M54.9345 78.8457C53.5009 75.2232 50.7899 75.956 50.4323 72.844C50.2102 70.9094 51.4286 67.9607 50.1963 66.2102C49.4986 65.0571 49.8873 64.0811 47.8497 63.9457C46.1558 63.8345 44.8645 63.8554 43.9342 64.7271C42.6359 65.9428 41.1815 68.5477 41.0496 70.6767C40.9767 71.8611 40.5219 74.6188 39.4875 80.0405C38.7829 83.736 38.0643 91.3528 38.1858 93.5444C38.3073 95.7186 44.92 96.2048 46.8049 95.9305C51.2515 95.2879 53.848 96.125 55.0317 94.6211C57.1457 91.9293 56.4515 82.6836 54.9311 78.8492L54.9345 78.8457Z" fill="#4DB0DD"/>
            <path d="M83.6139 79.3111C85.8181 77.0779 87.46 76.2999 86.8838 75.3968C85.596 73.3685 79.1881 68.0163 76.418 66.1824C73.9986 64.5778 72.1692 63.6157 71.1556 62.8273C70.201 62.084 67.4067 60.7433 65.7509 59.7535C64.7859 59.1769 63.7654 58.6942 63.4529 58.4371C63.1475 58.1801 62.9288 57.9196 62.3144 58.2843C61.5611 58.7046 60.8912 59.3124 60.3635 59.8542C59.8324 60.3995 59.284 60.7642 59.3465 61.4901C59.4402 62.5598 60.61 64.4736 61.2522 65.8212C62.5157 68.4817 61.0543 69.4298 62.3005 71.5034C64.4318 75.053 68.2988 80.5789 71.2563 81.6104C74.5123 82.7496 75.0434 84.5696 78.2231 83.6631C81.486 82.7323 83.3813 80.1065 83.6139 79.3111Z" fill="#3BAD4E"/>
          </svg>
        {%- endif -%}
      </a>
    </div>
    <div class="c-footer__links">
      {%- if section.settings.menu1 != blank -%}
        {%- if section.settings.menu1.title != blank -%}
          <h3>{{ section.settings.menu1.title }}</h3>
        {%- endif -%}
        <ul class="u-list-reset">
          {% for link in section.settings.menu1.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}

      <div class="c-footer__social">
        {%- if section.settings.youtube != blank -%}
          <a href="{{ section.settings.youtube }}" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"/><path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z" fill="rgba(255,255,255,1)"/>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.settings.instagram != blank -%}
          <a href="{{ section.settings.instagram }}" target="_blank" rel="noopener noreferrer">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.settings.twitter != blank -%}
          <a href="{{ section.settings.twitter }}" target="_blank" rel="noopener noreferrer">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.settings.facebook != blank -%}
          <a href="{{ section.settings.facebook }}" target="_blank" rel="noopener noreferrer">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.settings.pinterest != blank -%}
          <a href="{{ section.settings.pinterest }}" target="_blank" rel="noopener noreferrer">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"/>
            </svg>
          </a>
        {%- endif -%}
      </div>
    </div>
    {%- if section.settings.menu2 != blank -%}
      <div class="c-footer__links">
        {%- if section.settings.menu2.title != blank -%}
          <h3>{{ section.settings.menu2.title }}</h3>
        {%- endif -%}
        <ul class="u-list-reset">
          {% for link in section.settings.menu2.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {%- endif -%}
    {%- if section.settings.menu3 != blank -%}
      <div class="c-footer__links">
        {%- if section.settings.menu3.title != blank -%}
          <h3>{{ section.settings.menu3.title }}</h3>
        {%- endif -%}
        <ul class="u-list-reset">
          {% for link in section.settings.menu3.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {%- endif -%}
  </div>
  <div class="c-footer__payment">
    {%- for type in shop.enabled_payment_types -%}
      <span class="c-footer__bottom__payment__item">
        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
      </span>
    {%- endfor -%}
  </div>
  <div class="c-footer__bottom">
    {{ section.settings.copyrights }}
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "c-footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo link"
    },
    {
      "type": "link_list",
      "id": "menu1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Menu 2"
    },
    {
      "type": "link_list",
      "id": "menu3",
      "label": "Menu 3"
    },
    {
      "type": "url",
      "id": "instagram",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "twitter",
      "label": "Twitter"
    },
    {
      "type": "url",
      "id": "facebook",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "pinterest",
      "label": "Pinterest"
    },
    {
      "type": "url",
      "id": "youtube",
      "label": "Youtube"
    },
    {
      "type": "richtext",
      "id": "copyrights",
      "label": "Copyrights",
      "default": "<p>© New Zealand Honey Co. All rights reserved. Terms, privacy & accessibility.</p>"
    }
  ]
}
{% endschema %}
