{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'stamped-main.css' | asset_url | stylesheet_tag }}
<script src="{{ 'headroom.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<div
  class="c-container c-header__container"
  {% if section.settings.sticky %}
    data-header-sticky
  {% endif %}
>
  <div class="c-header__content">
    <div class="c-header__left">
      {%- if section.settings.menu_mobile != blank -%}
        <div class="c-header__menu-toggle">
          <svg
            width="28"
            height="24"
            class="c-header__menu-toggle__open"
            viewBox="0 0 28 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M7.5 1.5H21.5M2.5 8.5H25.5M1.5 15.5H26.5M2.5 22.5H25.5" stroke="black" stroke-width="3" stroke-linecap="round"/>
          </svg>
          <svg
            class="feather feather-x c-header__menu-toggle__close"
            fill="none"
            height="24"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            stroke="currentColor"
            viewbox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="18" x2="6" y1="6" y2="18"></line>
            <line x1="6" x2="18" y1="6" y2="18"></line>
          </svg>
        </div>
      {%- endif -%}
      {%- if section.settings.header_button_label != blank and section.settings.header_button_link != blank -%}
        <a href="{{ section.settings.header_button_link }}" rel="bookmark" class="c-header__button c-button">
          {{- section.settings.header_button_label | escape -}}
        </a>
      {% endif %}
      {%- if section.settings.menu_left != blank -%}
        <ul class="c-header__menu c-header__menu--left u-list-reset">
          {% for menu_item in section.settings.menu_left.links %}
            <li class="c-header__menu__item">
              <a
                class="c-header__menu__link{% if menu_item.active %} c-header__menu__link--active{% endif %}"
                href="{{ menu_item.url }}"
                title="{{ menu_item.title }}"
                rel="bookmark"
              >
                {{- menu_item.title -}}
              </a>
              {%- if menu_item.links != blank -%}
                <ul class="c-header__menu__sub">
                  {%- for sub_item in menu_item.links -%}
                    <li class="c-header__menu__sub__item{% if sub_item.active %} c-header__menu__sub__item--active{% endif %}">
                      <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}
    </div>
    {%- if request.page_type == 'index' -%}
      <h1 class="c-header__branding">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = 390 | append: 'x' -%}
            <img
              srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: section.settings.logo.width }} 2x"
              src="{{ section.settings.logo | image_url: width: image_size }}"
              loading="lazy"
              class="c-header__branding__img"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <svg fill="none" height="88" viewbox="0 0 201 88" width="201" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.704102 50.36H2.64007L10.5735 59.66V50.36H13.3178V64.63H11.3819L3.44838 55.33V64.63H0.704102V50.36Z" fill="#313131"/>
              <path d="M25.0534 52.8V55.76H29.4243V58.21H25.0534V62.18H31.0509V64.63H22.2991V50.36H30.8413V52.81H25.0434L25.0534 52.8Z" fill="#313131"/>
              <path d="M38.5552 50.34H41.3195L44.2733 59.25L47.4068 50.34H49.3428L52.4762 59.25L55.4301 50.34H58.1943L53.4742 64.61H51.5382L48.3648 55.58L45.2114 64.61H43.2754L38.5552 50.34Z" fill="#313131"/>
              <path d="M71.5365 62.98L78.4521 52.79H72.1453V50.34H82.1145V51.97L75.1789 62.16H82.5236V64.61H71.5365V62.98Z" fill="#313131"/>
              <path d="M95.7661 52.78V55.74H100.137V58.19H95.7661V62.16H101.764V64.61H93.0118V50.34H101.554V52.79H95.7561L95.7661 52.78Z" fill="#313131"/>
              <path d="M109.966 64.61L116.074 50.34H118.01L124.117 64.61H121.253L119.906 61.45H114.188L112.84 64.61H109.966ZM115.216 59H118.838L117.032 54.78L115.226 59H115.216Z" fill="#313131"/>
              <path d="M133.567 50.34V62.16H139.565V64.61H130.813V50.34H133.567Z" fill="#313131"/>
              <path d="M146.081 64.61L152.189 50.34H154.124L160.232 64.61H157.368L156.021 61.45H150.302L148.955 64.61H146.081ZM151.33 59H154.953L153.146 54.78L151.34 59H151.33Z" fill="#313131"/>
              <path d="M166.938 50.34H168.874L176.807 59.64V50.34H179.552V64.61H177.616L169.682 55.31V64.61H166.938V50.34Z" fill="#313131"/>
              <path d="M192.365 50.34C194.62 50.34 196.107 50.83 197.265 51.69C199.011 52.99 200.089 55.11 200.089 57.48C200.089 59.85 199.011 61.96 197.265 63.27C196.107 64.13 194.62 64.62 192.365 64.62H187.894V50.35H192.365V50.34ZM196.307 54.38C195.518 53.38 194.351 52.79 192.664 52.79H190.628V62.17H192.664C194.351 62.17 195.508 61.58 196.307 60.58C196.955 59.76 197.344 58.66 197.344 57.48C197.344 56.3 196.955 55.2 196.307 54.38Z" fill="#313131"/>
              <path d="M36.9785 81.19H29.8634V87.61H27.1191V73.34H29.8634V78.74H36.9785V73.34H39.7228V87.61H36.9785V81.19Z" fill="#313131"/>
              <path d="M54.023 73.13C58.4139 73.13 61.4476 76.41 61.4476 80.47C61.4476 84.53 58.4139 87.81 54.023 87.81C49.6322 87.81 46.5985 84.53 46.5985 80.47C46.5985 76.41 49.6322 73.13 54.023 73.13ZM54.023 85.36C56.7074 85.36 58.7033 83.16 58.7033 80.47C58.7033 77.78 56.7074 75.58 54.023 75.58C51.3386 75.58 49.3428 77.78 49.3428 80.47C49.3428 83.16 51.3386 85.36 54.023 85.36Z" fill="#313131"/>
              <path d="M69.2313 73.34H71.1673L79.1008 82.64V73.34H81.8451V87.61H79.9091L71.9756 78.31V87.61H69.2313V73.34Z" fill="#313131"/>
              <path d="M92.932 75.78V78.74H97.3029V81.19H92.932V85.16H98.9295V87.61H90.1777V73.34H98.7199V75.79H92.922L92.932 75.78Z" fill="#313131"/>
              <path d="M112.98 81.15V87.61H110.236V81.15L105.356 73.34H108.49L111.623 78.35L114.737 73.34H117.87L112.99 81.15H112.98Z" fill="#313131"/>
              <path d="M134.306 80.47C134.306 83.24 136.421 85.36 139.166 85.36C141.012 85.36 142.359 84.46 143.197 83.38L145.093 85.07C143.836 86.68 141.72 87.8 139.116 87.8C134.685 87.8 131.571 84.56 131.571 80.46C131.571 76.36 134.645 73.12 139.076 73.12C141.191 73.12 142.998 73.91 144.285 75.16L142.519 77.04C141.66 76.18 140.463 75.57 139.056 75.57C136.351 75.57 134.316 77.75 134.316 80.46L134.306 80.47Z" fill="#313131"/>
              <path d="M158.525 73.13C162.916 73.13 165.95 76.41 165.95 80.47C165.95 84.53 162.916 87.81 158.525 87.81C154.134 87.81 151.101 84.53 151.101 80.47C151.101 76.41 154.134 73.13 158.525 73.13ZM158.525 85.36C161.21 85.36 163.206 83.16 163.206 80.47C163.206 77.78 161.21 75.58 158.525 75.58C155.841 75.58 153.845 77.78 153.845 80.47C153.845 83.16 155.841 85.36 158.525 85.36Z" fill="#313131"/>
              <path d="M174.642 84.24C175.64 84.24 176.428 85.03 176.428 86.03C176.428 87.03 175.64 87.8 174.642 87.8C173.644 87.8 172.875 87.03 172.875 86.03C172.875 85.03 173.644 84.24 174.642 84.24Z" fill="#313131"/>
              <path d="M119.646 10.8C119.507 10.9 119.447 11.08 119.507 11.17C119.766 11.5 120.624 11.66 121.083 11.68C121.991 11.71 122.401 10.52 121.762 10.51C120.924 10.49 119.876 10.63 119.646 10.8Z" fill="#313131"/>
              <path d="M125.454 0C125.454 0 125.404 0.03 125.364 0.17C125.125 1.01 124.796 1.85 124.366 2.72C124.147 3.16 124.187 3.34 124.227 3.5C124.267 3.66 124.307 3.82 124.137 4.17C124.137 4.19 124.117 4.21 124.107 4.23C124.047 4.36 123.967 4.53 123.838 4.56C123.768 4.58 123.698 4.54 123.628 4.47C123.598 4.44 123.568 4.41 123.538 4.37C123.468 4.28 123.398 4.19 123.299 4.19C123.219 4.19 123.109 4.26 122.989 4.4C122.62 4.81 122.77 5.11 122.89 5.26L122.919 5.29C123.079 5.48 123.159 5.62 122.75 6.02C122.48 6.29 122.341 6.38 122.211 6.35C122.101 6.33 122.041 6.21 121.971 6.05C121.922 5.94 121.832 5.87 121.722 5.84C121.602 5.81 121.492 5.84 121.383 5.92C121.183 6.07 121.083 6.22 121.063 6.37C121.053 6.5 121.103 6.63 121.223 6.78L121.273 6.84C121.353 6.93 121.383 7.02 121.373 7.11C121.353 7.28 121.183 7.41 120.993 7.55L120.874 7.64C120.634 7.83 120.435 7.89 120.275 7.84C120.155 7.8 120.065 7.69 120.016 7.51C119.966 7.33 119.926 6.64 119.387 7C118.768 7.41 119.008 7.95 119.217 8.37C119.367 8.66 119.237 8.96 118.858 9.17L118.788 9.21C118.579 9.33 118.369 9.35 118.199 9.27C118.05 9.2 117.99 9.04 117.9 8.85C117.74 8.51 117.9 7.63 117.092 7.97C116.403 8.26 116.892 9.25 117.022 9.52C117.102 9.68 117.112 9.87 117.052 10.04C116.992 10.21 116.862 10.35 116.692 10.43L116.463 10.54C116.263 10.63 116.034 10.62 115.844 10.51C115.186 10.12 115.944 8.57 114.836 8.77C113.828 8.95 114.158 10.25 114.287 10.74C114.377 11.1 114.228 11.46 113.888 11.59L113.599 11.69C113.389 11.77 113.16 11.73 112.98 11.6C112.801 11.47 112.711 11.26 112.711 11.03C112.681 10.44 113.18 9.29 111.972 9.53C110.765 9.77 111.154 11.31 111.174 11.95C111.174 12.28 111.004 12.57 110.655 12.65C109.917 12.83 109.787 12.41 109.827 12.01C109.897 11.39 110.605 9.87 109.348 10.08C108.09 10.3 108.46 12.14 108.32 12.83C108.17 13.56 107.522 13.76 107.522 13.76C107.312 13.83 106.574 13.87 106.813 12.85C107.053 11.83 108.29 10.47 106.683 10.5C104.857 10.53 105.176 13.26 105.047 13.98C104.947 14.54 104.428 14.9 104.079 14.94C103.729 14.98 103.26 15.07 103.44 14.11C103.709 12.65 104.877 10.76 103.57 10.86C101.983 10.97 101.644 12.29 101.374 14.48C101.255 15.41 100.965 16.11 100.476 16.26C100.207 16.34 99.5981 16.51 99.5382 15.61C99.4683 14.31 101.893 10.71 99.7078 11.04C98.4006 11.24 97.5224 11.8 97.3727 15.1C97.3228 16.07 97.2729 17.3 96.7939 17.74C96.3149 18.18 95.8259 18.17 95.6263 18.05C95.4367 17.93 95.2471 17.62 95.2771 17.17C95.327 16.36 95.786 15.43 95.9457 14.48C96.2051 13 96.2451 11.36 94.9278 11.71C92.1336 12.47 92.5128 15.44 92.5328 17.56C92.5428 19.15 92.3831 19.63 91.964 20.08C91.7145 20.35 91.006 20.91 90.3972 20.75C90.1777 20.69 90.0579 20.46 90.038 20.23C89.9382 19.3 90.7066 17.64 90.9561 16.04C91.1956 14.46 91.2954 12.22 89.7186 12.81C86.5552 13.98 86.9644 16.91 87.3336 20.26C87.4234 21.08 87.623 22.62 86.9843 23.26C86.7947 23.45 86.5852 23.59 86.2858 23.78C86.0962 23.9 85.8068 23.97 85.5972 23.9C85.3877 23.83 85.228 23.65 85.1781 23.44C84.8987 22.36 85.4775 20.46 85.5872 18.44C85.6771 16.74 85.697 14.38 83.8209 15.46C80.1187 17.61 81.0966 22.21 82.1145 24.65C82.4238 25.38 83.1324 26.3 82.1544 27.25C79.6796 29.62 78.033 32.47 77.9731 33.94C77.9232 35.14 78.4322 36.47 79.3602 37.21C79.6197 37.41 80.3083 37.79 80.7274 36.69C81.4559 34.74 81.9947 33.24 83.292 31.46C83.4018 31.32 83.4916 31.18 83.6014 31.04C83.6413 30.99 83.6812 30.94 83.7211 30.89C84.9087 29.41 86.2359 28.01 87.6929 26.72C91.2155 23.58 95.5465 20.81 101.314 17.99C103.949 16.71 106.603 15.56 108.849 14.61C109.248 14.44 109.657 14.26 110.066 14.09L110.426 13.94C112.212 13.18 113.958 12.44 115.625 11.6C116.752 11.05 117.73 10.53 118.618 10C121.253 8.28 123.169 6.56 124.147 5.04C124.197 4.96 124.247 4.87 124.307 4.78C124.366 4.68 124.406 4.61 124.446 4.54L124.516 4.41C124.596 4.26 124.676 4.11 124.756 3.93C125.285 2.78 125.534 1.69 125.574 0.38C125.574 0.16 125.524 0.06 125.494 0.05L125.454 0Z" fill="#313131"/>
              <path d="M97.9116 25.32C95.5964 24.59 93.5008 24.76 92.5029 25.46C91.6247 26.08 92.4829 26.34 93.0018 26.56C95.9756 27.85 98.3008 30.55 99.7278 29.62C101.624 28.39 101.464 26.44 97.9016 25.32H97.9116Z" fill="#313131"/>
              <path d="M88.132 29.03C87.7428 29.27 87.623 29.59 87.643 29.8C87.6829 30.15 88.3715 30.44 88.7906 30.66C92.1336 32.41 94.1394 35.09 95.6264 34.07C97.1232 33.05 98.5503 31.37 93.371 29.16C92.413 28.75 89.7386 28.03 88.132 29.02V29.03Z" fill="#313131"/>
              <path d="M105.955 19.74C104.458 19.15 102.971 19.24 102.282 19.65C101.674 20.02 102.233 20.23 102.562 20.4C104.458 21.39 105.965 23.21 106.953 22.66C108.26 21.94 108.25 20.64 105.955 19.73V19.74Z" fill="#313131"/>
              <path d="M97.8218 22.04C97.5424 22.22 97.4525 22.45 97.4725 22.59C97.5024 22.85 98.0014 23.06 98.3008 23.21C100.716 24.48 102.312 26.32 103.39 25.58C104.478 24.84 105.516 23.6 101.774 22.01C101.085 21.72 98.9893 21.31 97.8218 22.03V22.04Z" fill="#313131"/>
              <path d="M113.11 15.86C111.972 15.36 111.054 15.35 110.495 15.56C109.996 15.75 110.296 16.09 110.525 16.24C111.892 17.13 113.1 18.35 113.868 17.99C114.886 17.51 114.806 16.61 113.1 15.86H113.11Z" fill="#313131"/>
              <path d="M106.564 17.4C106.354 17.51 106.274 17.68 106.284 17.78C106.284 17.97 106.643 18.14 106.853 18.27C108.529 19.29 109.597 20.69 110.406 20.21C111.214 19.73 112.022 18.88 109.408 17.57C108.919 17.33 107.442 16.94 106.574 17.41L106.564 17.4Z" fill="#313131"/>
              <path d="M118.389 13.66C117.621 13.45 117.072 13.06 116.972 12.8C116.842 12.45 117.281 12.37 117.471 12.4C118.189 12.51 119.087 12.52 119.606 12.63C119.886 12.7 120.185 12.86 119.926 13.29C119.626 13.79 119.038 13.83 118.389 13.65V13.66Z" fill="#313131"/>
              <path d="M113.948 14.02C113.589 14.23 113.769 14.51 114.048 14.72C115.116 15.53 116.563 16.1 117.161 15.69C118.189 14.98 117.68 14.53 115.714 14.03C115.315 13.93 114.427 13.73 113.948 14.01V14.02Z" fill="#313131"/>
              <path d="M121.912 9.04C121.812 9.11 121.762 9.24 121.802 9.3C121.971 9.54 122.47 9.63 122.8 9.66C123.438 9.71 123.877 8.61 123.418 8.62C122.78 8.64 122.071 8.93 121.902 9.05L121.912 9.04Z" fill="#313131"/>
              <path d="M123.778 7.12C123.708 7.19 123.688 7.32 123.778 7.38C124.007 7.54 124.286 7.51 124.475 7.48C125.003 7.4 125.183 6.38 124.834 6.52C124.306 6.73 123.907 7 123.788 7.12H123.778Z" fill="#313131"/>
              <path d="M124.895 5.36C124.855 5.44 124.895 5.55 124.975 5.57C125.214 5.62 125.414 5.53 125.523 5.45C125.912 5.18 125.872 4.14 125.633 4.37C125.264 4.73 124.955 5.21 124.895 5.35V5.36Z" fill="#313131"/>
            </svg>
          {%- endif -%}
        </a>
      </h1>
    {%- else -%}
      <p class="c-header__branding">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = 390 | append: 'x' -%}
            <img
              srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: section.settings.logo.width }} 2x"
              src="{{ section.settings.logo | image_url: width: image_size }}"
              loading="lazy"
              class="c-header__branding__img"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <svg fill="none" height="88" viewbox="0 0 201 88" width="201" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.704102 50.36H2.64007L10.5735 59.66V50.36H13.3178V64.63H11.3819L3.44838 55.33V64.63H0.704102V50.36Z" fill="#313131"/>
              <path d="M25.0534 52.8V55.76H29.4243V58.21H25.0534V62.18H31.0509V64.63H22.2991V50.36H30.8413V52.81H25.0434L25.0534 52.8Z" fill="#313131"/>
              <path d="M38.5552 50.34H41.3195L44.2733 59.25L47.4068 50.34H49.3428L52.4762 59.25L55.4301 50.34H58.1943L53.4742 64.61H51.5382L48.3648 55.58L45.2114 64.61H43.2754L38.5552 50.34Z" fill="#313131"/>
              <path d="M71.5365 62.98L78.4521 52.79H72.1453V50.34H82.1145V51.97L75.1789 62.16H82.5236V64.61H71.5365V62.98Z" fill="#313131"/>
              <path d="M95.7661 52.78V55.74H100.137V58.19H95.7661V62.16H101.764V64.61H93.0118V50.34H101.554V52.79H95.7561L95.7661 52.78Z" fill="#313131"/>
              <path d="M109.966 64.61L116.074 50.34H118.01L124.117 64.61H121.253L119.906 61.45H114.188L112.84 64.61H109.966ZM115.216 59H118.838L117.032 54.78L115.226 59H115.216Z" fill="#313131"/>
              <path d="M133.567 50.34V62.16H139.565V64.61H130.813V50.34H133.567Z" fill="#313131"/>
              <path d="M146.081 64.61L152.189 50.34H154.124L160.232 64.61H157.368L156.021 61.45H150.302L148.955 64.61H146.081ZM151.33 59H154.953L153.146 54.78L151.34 59H151.33Z" fill="#313131"/>
              <path d="M166.938 50.34H168.874L176.807 59.64V50.34H179.552V64.61H177.616L169.682 55.31V64.61H166.938V50.34Z" fill="#313131"/>
              <path d="M192.365 50.34C194.62 50.34 196.107 50.83 197.265 51.69C199.011 52.99 200.089 55.11 200.089 57.48C200.089 59.85 199.011 61.96 197.265 63.27C196.107 64.13 194.62 64.62 192.365 64.62H187.894V50.35H192.365V50.34ZM196.307 54.38C195.518 53.38 194.351 52.79 192.664 52.79H190.628V62.17H192.664C194.351 62.17 195.508 61.58 196.307 60.58C196.955 59.76 197.344 58.66 197.344 57.48C197.344 56.3 196.955 55.2 196.307 54.38Z" fill="#313131"/>
              <path d="M36.9785 81.19H29.8634V87.61H27.1191V73.34H29.8634V78.74H36.9785V73.34H39.7228V87.61H36.9785V81.19Z" fill="#313131"/>
              <path d="M54.023 73.13C58.4139 73.13 61.4476 76.41 61.4476 80.47C61.4476 84.53 58.4139 87.81 54.023 87.81C49.6322 87.81 46.5985 84.53 46.5985 80.47C46.5985 76.41 49.6322 73.13 54.023 73.13ZM54.023 85.36C56.7074 85.36 58.7033 83.16 58.7033 80.47C58.7033 77.78 56.7074 75.58 54.023 75.58C51.3386 75.58 49.3428 77.78 49.3428 80.47C49.3428 83.16 51.3386 85.36 54.023 85.36Z" fill="#313131"/>
              <path d="M69.2313 73.34H71.1673L79.1008 82.64V73.34H81.8451V87.61H79.9091L71.9756 78.31V87.61H69.2313V73.34Z" fill="#313131"/>
              <path d="M92.932 75.78V78.74H97.3029V81.19H92.932V85.16H98.9295V87.61H90.1777V73.34H98.7199V75.79H92.922L92.932 75.78Z" fill="#313131"/>
              <path d="M112.98 81.15V87.61H110.236V81.15L105.356 73.34H108.49L111.623 78.35L114.737 73.34H117.87L112.99 81.15H112.98Z" fill="#313131"/>
              <path d="M134.306 80.47C134.306 83.24 136.421 85.36 139.166 85.36C141.012 85.36 142.359 84.46 143.197 83.38L145.093 85.07C143.836 86.68 141.72 87.8 139.116 87.8C134.685 87.8 131.571 84.56 131.571 80.46C131.571 76.36 134.645 73.12 139.076 73.12C141.191 73.12 142.998 73.91 144.285 75.16L142.519 77.04C141.66 76.18 140.463 75.57 139.056 75.57C136.351 75.57 134.316 77.75 134.316 80.46L134.306 80.47Z" fill="#313131"/>
              <path d="M158.525 73.13C162.916 73.13 165.95 76.41 165.95 80.47C165.95 84.53 162.916 87.81 158.525 87.81C154.134 87.81 151.101 84.53 151.101 80.47C151.101 76.41 154.134 73.13 158.525 73.13ZM158.525 85.36C161.21 85.36 163.206 83.16 163.206 80.47C163.206 77.78 161.21 75.58 158.525 75.58C155.841 75.58 153.845 77.78 153.845 80.47C153.845 83.16 155.841 85.36 158.525 85.36Z" fill="#313131"/>
              <path d="M174.642 84.24C175.64 84.24 176.428 85.03 176.428 86.03C176.428 87.03 175.64 87.8 174.642 87.8C173.644 87.8 172.875 87.03 172.875 86.03C172.875 85.03 173.644 84.24 174.642 84.24Z" fill="#313131"/>
              <path d="M119.646 10.8C119.507 10.9 119.447 11.08 119.507 11.17C119.766 11.5 120.624 11.66 121.083 11.68C121.991 11.71 122.401 10.52 121.762 10.51C120.924 10.49 119.876 10.63 119.646 10.8Z" fill="#313131"/>
              <path d="M125.454 0C125.454 0 125.404 0.03 125.364 0.17C125.125 1.01 124.796 1.85 124.366 2.72C124.147 3.16 124.187 3.34 124.227 3.5C124.267 3.66 124.307 3.82 124.137 4.17C124.137 4.19 124.117 4.21 124.107 4.23C124.047 4.36 123.967 4.53 123.838 4.56C123.768 4.58 123.698 4.54 123.628 4.47C123.598 4.44 123.568 4.41 123.538 4.37C123.468 4.28 123.398 4.19 123.299 4.19C123.219 4.19 123.109 4.26 122.989 4.4C122.62 4.81 122.77 5.11 122.89 5.26L122.919 5.29C123.079 5.48 123.159 5.62 122.75 6.02C122.48 6.29 122.341 6.38 122.211 6.35C122.101 6.33 122.041 6.21 121.971 6.05C121.922 5.94 121.832 5.87 121.722 5.84C121.602 5.81 121.492 5.84 121.383 5.92C121.183 6.07 121.083 6.22 121.063 6.37C121.053 6.5 121.103 6.63 121.223 6.78L121.273 6.84C121.353 6.93 121.383 7.02 121.373 7.11C121.353 7.28 121.183 7.41 120.993 7.55L120.874 7.64C120.634 7.83 120.435 7.89 120.275 7.84C120.155 7.8 120.065 7.69 120.016 7.51C119.966 7.33 119.926 6.64 119.387 7C118.768 7.41 119.008 7.95 119.217 8.37C119.367 8.66 119.237 8.96 118.858 9.17L118.788 9.21C118.579 9.33 118.369 9.35 118.199 9.27C118.05 9.2 117.99 9.04 117.9 8.85C117.74 8.51 117.9 7.63 117.092 7.97C116.403 8.26 116.892 9.25 117.022 9.52C117.102 9.68 117.112 9.87 117.052 10.04C116.992 10.21 116.862 10.35 116.692 10.43L116.463 10.54C116.263 10.63 116.034 10.62 115.844 10.51C115.186 10.12 115.944 8.57 114.836 8.77C113.828 8.95 114.158 10.25 114.287 10.74C114.377 11.1 114.228 11.46 113.888 11.59L113.599 11.69C113.389 11.77 113.16 11.73 112.98 11.6C112.801 11.47 112.711 11.26 112.711 11.03C112.681 10.44 113.18 9.29 111.972 9.53C110.765 9.77 111.154 11.31 111.174 11.95C111.174 12.28 111.004 12.57 110.655 12.65C109.917 12.83 109.787 12.41 109.827 12.01C109.897 11.39 110.605 9.87 109.348 10.08C108.09 10.3 108.46 12.14 108.32 12.83C108.17 13.56 107.522 13.76 107.522 13.76C107.312 13.83 106.574 13.87 106.813 12.85C107.053 11.83 108.29 10.47 106.683 10.5C104.857 10.53 105.176 13.26 105.047 13.98C104.947 14.54 104.428 14.9 104.079 14.94C103.729 14.98 103.26 15.07 103.44 14.11C103.709 12.65 104.877 10.76 103.57 10.86C101.983 10.97 101.644 12.29 101.374 14.48C101.255 15.41 100.965 16.11 100.476 16.26C100.207 16.34 99.5981 16.51 99.5382 15.61C99.4683 14.31 101.893 10.71 99.7078 11.04C98.4006 11.24 97.5224 11.8 97.3727 15.1C97.3228 16.07 97.2729 17.3 96.7939 17.74C96.3149 18.18 95.8259 18.17 95.6263 18.05C95.4367 17.93 95.2471 17.62 95.2771 17.17C95.327 16.36 95.786 15.43 95.9457 14.48C96.2051 13 96.2451 11.36 94.9278 11.71C92.1336 12.47 92.5128 15.44 92.5328 17.56C92.5428 19.15 92.3831 19.63 91.964 20.08C91.7145 20.35 91.006 20.91 90.3972 20.75C90.1777 20.69 90.0579 20.46 90.038 20.23C89.9382 19.3 90.7066 17.64 90.9561 16.04C91.1956 14.46 91.2954 12.22 89.7186 12.81C86.5552 13.98 86.9644 16.91 87.3336 20.26C87.4234 21.08 87.623 22.62 86.9843 23.26C86.7947 23.45 86.5852 23.59 86.2858 23.78C86.0962 23.9 85.8068 23.97 85.5972 23.9C85.3877 23.83 85.228 23.65 85.1781 23.44C84.8987 22.36 85.4775 20.46 85.5872 18.44C85.6771 16.74 85.697 14.38 83.8209 15.46C80.1187 17.61 81.0966 22.21 82.1145 24.65C82.4238 25.38 83.1324 26.3 82.1544 27.25C79.6796 29.62 78.033 32.47 77.9731 33.94C77.9232 35.14 78.4322 36.47 79.3602 37.21C79.6197 37.41 80.3083 37.79 80.7274 36.69C81.4559 34.74 81.9947 33.24 83.292 31.46C83.4018 31.32 83.4916 31.18 83.6014 31.04C83.6413 30.99 83.6812 30.94 83.7211 30.89C84.9087 29.41 86.2359 28.01 87.6929 26.72C91.2155 23.58 95.5465 20.81 101.314 17.99C103.949 16.71 106.603 15.56 108.849 14.61C109.248 14.44 109.657 14.26 110.066 14.09L110.426 13.94C112.212 13.18 113.958 12.44 115.625 11.6C116.752 11.05 117.73 10.53 118.618 10C121.253 8.28 123.169 6.56 124.147 5.04C124.197 4.96 124.247 4.87 124.307 4.78C124.366 4.68 124.406 4.61 124.446 4.54L124.516 4.41C124.596 4.26 124.676 4.11 124.756 3.93C125.285 2.78 125.534 1.69 125.574 0.38C125.574 0.16 125.524 0.06 125.494 0.05L125.454 0Z" fill="#313131"/>
              <path d="M97.9116 25.32C95.5964 24.59 93.5008 24.76 92.5029 25.46C91.6247 26.08 92.4829 26.34 93.0018 26.56C95.9756 27.85 98.3008 30.55 99.7278 29.62C101.624 28.39 101.464 26.44 97.9016 25.32H97.9116Z" fill="#313131"/>
              <path d="M88.132 29.03C87.7428 29.27 87.623 29.59 87.643 29.8C87.6829 30.15 88.3715 30.44 88.7906 30.66C92.1336 32.41 94.1394 35.09 95.6264 34.07C97.1232 33.05 98.5503 31.37 93.371 29.16C92.413 28.75 89.7386 28.03 88.132 29.02V29.03Z" fill="#313131"/>
              <path d="M105.955 19.74C104.458 19.15 102.971 19.24 102.282 19.65C101.674 20.02 102.233 20.23 102.562 20.4C104.458 21.39 105.965 23.21 106.953 22.66C108.26 21.94 108.25 20.64 105.955 19.73V19.74Z" fill="#313131"/>
              <path d="M97.8218 22.04C97.5424 22.22 97.4525 22.45 97.4725 22.59C97.5024 22.85 98.0014 23.06 98.3008 23.21C100.716 24.48 102.312 26.32 103.39 25.58C104.478 24.84 105.516 23.6 101.774 22.01C101.085 21.72 98.9893 21.31 97.8218 22.03V22.04Z" fill="#313131"/>
              <path d="M113.11 15.86C111.972 15.36 111.054 15.35 110.495 15.56C109.996 15.75 110.296 16.09 110.525 16.24C111.892 17.13 113.1 18.35 113.868 17.99C114.886 17.51 114.806 16.61 113.1 15.86H113.11Z" fill="#313131"/>
              <path d="M106.564 17.4C106.354 17.51 106.274 17.68 106.284 17.78C106.284 17.97 106.643 18.14 106.853 18.27C108.529 19.29 109.597 20.69 110.406 20.21C111.214 19.73 112.022 18.88 109.408 17.57C108.919 17.33 107.442 16.94 106.574 17.41L106.564 17.4Z" fill="#313131"/>
              <path d="M118.389 13.66C117.621 13.45 117.072 13.06 116.972 12.8C116.842 12.45 117.281 12.37 117.471 12.4C118.189 12.51 119.087 12.52 119.606 12.63C119.886 12.7 120.185 12.86 119.926 13.29C119.626 13.79 119.038 13.83 118.389 13.65V13.66Z" fill="#313131"/>
              <path d="M113.948 14.02C113.589 14.23 113.769 14.51 114.048 14.72C115.116 15.53 116.563 16.1 117.161 15.69C118.189 14.98 117.68 14.53 115.714 14.03C115.315 13.93 114.427 13.73 113.948 14.01V14.02Z" fill="#313131"/>
              <path d="M121.912 9.04C121.812 9.11 121.762 9.24 121.802 9.3C121.971 9.54 122.47 9.63 122.8 9.66C123.438 9.71 123.877 8.61 123.418 8.62C122.78 8.64 122.071 8.93 121.902 9.05L121.912 9.04Z" fill="#313131"/>
              <path d="M123.778 7.12C123.708 7.19 123.688 7.32 123.778 7.38C124.007 7.54 124.286 7.51 124.475 7.48C125.003 7.4 125.183 6.38 124.834 6.52C124.306 6.73 123.907 7 123.788 7.12H123.778Z" fill="#313131"/>
              <path d="M124.895 5.36C124.855 5.44 124.895 5.55 124.975 5.57C125.214 5.62 125.414 5.53 125.523 5.45C125.912 5.18 125.872 4.14 125.633 4.37C125.264 4.73 124.955 5.21 124.895 5.35V5.36Z" fill="#313131"/>
            </svg>
          {%- endif -%}
        </a>
      </p>
    {%- endif -%}
    <div class="c-header__right">
      {%- if section.settings.menu_right != blank -%}
        <ul class="c-header__menu c-header__menu--right u-list-reset">
          {% for menu_item in section.settings.menu_right.links %}
            <li class="c-header__menu__item">
              <a
                class="c-header__menu__link{% if menu_item.active %} c-header__menu__link--active{% endif %}"
                href="{{ menu_item.url }}"
                title="{{ menu_item.title }}"
                rel="bookmark"
              >
                {{- menu_item.title -}}
              </a>
              {%- if menu_item.links != blank -%}
                <ul class="c-header__menu__sub">
                  {%- for sub_item in menu_item.links -%}
                    <li class="c-header__menu__sub__item{% if sub_item.active %} c-header__menu__sub__item--active{% endif %}">
                      <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}
      {%- if section.settings.show_user or section.settings.show_search or section.settings.show_cart -%}
        <div class="c-header__icons">
          {%- if section.settings.show_user and shop.customer_accounts_enabled -%}
            <a href="{{ routes.account_url }}" rel="nofollow" class="c-header__icon c-header__icon--user">
              <svg fill="none" height="23" viewbox="0 0 20 23" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.97595 12.76C13.2166 12.76 15.8437 10.1274 15.8437 6.88C15.8437 3.63257 13.2166 1 9.97595 1C6.73527 1 4.10817 3.63257 4.10817 6.88C4.10817 10.1274 6.73527 12.76 9.97595 12.76ZM9.97595 12.76C5.15599 12.76 1.24414 16.68 1.24414 21.51M9.97595 12.76C14.7959 12.76 18.7078 16.68 18.7078 21.51" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.93" stroke="#313131"/>
              </svg>
            </a>
          {% endif %}
          {%- if section.settings.show_search -%}
            <a href="{{ routes.search_url }}" rel="nofollow" class="c-header__icon c-header__icon--search">
              <svg fill="none" height="23" viewbox="0 0 23 23" width="23" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 22L15.494 15.4968C18.8158 12.1765 18.8158 6.80148 15.494 3.49028C12.1813 0.169906 6.80402 0.169906 3.49137 3.49028C0.169543 6.80148 0.169543 12.1765 3.49137 15.4968C6.07909 18.0834 9.91479 18.6521 13.0531 17.2029" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.93" stroke="#313131"/>
              </svg>
            </a>
          {%- endif -%}
          {%- if section.settings.show_cart -%}
            <a
              data-ajax-cart-toggle-class-button="js-side-cart-open"
              href="{{ routes.cart_url }}"
              rel="nofollow"
              class="c-header__icon c-header__icon--cart"
            >
              <svg fill="none" height="23" viewbox="0 0 21 23" width="21" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0707 5.83H19.5114V21.33H1V5.83H11.4981M5.45073 5.83C5.45073 3.16 7.60624 1 10.2607 1C12.9152 1 15.0707 3.16 15.0707 5.82" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.93" stroke="#313131"/>
              </svg>
              <div data-ajax-cart-bind-state="cart.item_count">
                {{ cart.item_count }}
              </div>
            </a>
          {%- endif -%}
        </div>
      {% endif %}
     <div class="lan-switch-d-hide">
  <div class="language-switcher" style="display: inline-block; margin-left: 10px;">
    {% if request.path contains '/ar' %}
      {%- assign en_path = request.path | remove_first: '/ar' -%}
      <a href="https://newzealandhoneyco.ae{{ en_path }}" class="language-switcher__button">English</a>
    {% else %}
      <a href="https://newzealandhoneyco.ae/ar{{ request.path }}" class="language-switcher__button">العربية</a>
    {% endif %}
  </div>
</div>

    </div>
  </div>
</div>
{%- if section.settings.menu_mobile != blank -%}
  <div class="c-header__mobile-menu">
    <div class="c-container">
      <ul class="c-header__mobile-menu__list">
        {% for menu_item in section.settings.menu_mobile.links %}
          <li class="c-header__mobile-menu__item">
            <a
              class="c-header__mobile-menu__link{% if menu_item.active %} c-header__mobile-menu__link--active{% endif %}{% if menu_item.links != blank %} c-header__mobile-menu__link--has-children{% endif %}"
              href="{{ menu_item.url }}"
              title="{{ menu_item.title }}"
              rel="bookmark"
            >
              {{- menu_item.title -}}
              {%- if menu_item.links != blank -%}
                <svg
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                  stroke="currentColor"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="css-i6dzq1"
                >
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              {%- endif -%}
            </a>
            {%- if menu_item.links != blank -%}
              <ul class="c-header__mobile-menu__sub ">
                {%- for sub_item in menu_item.links -%}
                  <li class="c-header__mobile-menu__sub__item{% if sub_item.active %} c-header__mobile-menu__sub__item--active{% endif %}">
                    <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
      <p style="margin:25px 0px;;text-align:center;">
  <a href="{{ section.settings.header_button_link }}" style="padding: 10px 20px; background:#f1b434;color:#ffffff;border-radius: 25px;font-size:15px;">{{- section.settings.header_button_label | escape -}}</a>
</p> 
 <div class="language-switcher" style="text-align: center; padding: 10px 0;">
  {% if request.path contains '/ar' %}
  <div dir="ltr"><span>Switch to: </span> <a href="https://newzealandhoneyco.ae/" class="language-switcher__button">English</a></div>
    {% else %}
    <div dir="rtl"> <span>التبديل إلى:</span> <a href="https://newzealandhoneyco.ae/ar" class="language-switcher__button">العربية</a></div>
  {% endif %}
</div>
    </div>
  </div>
{%- endif -%}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
<predictive-search class="c-header__search">
  <div class="c-header__search__overlay"></div>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <div class="c-header__search__row">
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="css-i6dzq1"
      >
        <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
      <div class="c-header__search__input">
        <label for="Search">{{ 'sections.header.search' | t }}</label>
        <input
          id="Search"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          class="predictive-search-input"
          placeholder="{{ 'sections.header.placeholder' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <div class="c-header__search__close">
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </div>
    </div>
    <input name="options[prefix]" type="hidden" value="last">
    <div id="predictive-search" tabindex="-1"></div>
  </form>
</predictive-search>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "c-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu_left",
      "label": "Menu left"
    },
    {
      "type": "link_list",
      "id": "menu_right",
      "label": "Menu right"
    },
    {
      "type": "text",
      "id": "header_button_label",
      "label": "Button label",
      "default": "WHICH MANUKA IS FOR ME?"
    },
    {
      "type": "url",
      "id": "header_button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Make header sticky",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_user",
      "label": "User icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Search icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Cart icon",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu_mobile",
      "label": "Menu mobile"
    }
  ]
}
{% endschema %}
