{{ 'newsletter.css' | asset_url | stylesheet_tag }}

{% if section.settings.title_image != blank or shop.metaobjects.svgs['svgs-wjxuznox'].join_the_hive_community.value != blank %}
  <style>
    .c-newsletter__form__button > img {
      width: 100%;
      height: auto;
  }
  </style>
  {% endif %}

<svg
  class="c-newsletter__top"
  width="1437"
  height="125"
  viewBox="0 0 1437 125"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M502 90C252 16 111 29 0 56V0H1437V37C1318 0.999969 1192 2.54544 1120 26C953 80.4016 791 175.544 502 90Z" fill="{{ section.settings.bg_color }}"/>
</svg>
<div class="c-container">
  {% form 'customer', class: 'c-newsletter__form' %}
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="contact[tags]" value="newsletter{% if request.locale.iso_code == 'ar' %},tag_ar{% endif %}">
    <input type="hidden" name="contact[source]" value="Newsletter Subscription Form">
    <div class="c-newsletter__form__field">
      {%- if section.settings.paragraph != blank -%}
        <div class="c-newsletter__form__description">
          <p>{{ section.settings.paragraph | escape }}</p>
        </div>
      {%- endif -%}
      <div class="c-newsletter__form__field__email">
        <input
          id="NewsletterForm"
          type="email"
          name="contact[email]"
          class="field__input"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          {% if form.errors %}
            autofocus aria-invalid="true" aria-describedby="Newsletter-error"
          {% elsif form.posted_successfully? %}
            aria-describedby="Newsletter-success"
          {% endif %}
          placeholder="{{ 'sections.newsletter.email_address' | t }}"
          required
        >
        <label class="c-newsletter__form__label u-hidden" for="NewsletterForm">
          {{- 'sections.newsletter.email_address' | t -}}
        </label>
        <button
          type="submit"
          class="c-newsletter__form__btn"
          name="commit"
          id="Subscribe"
          aria-label="Subscribe"
        >
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
          >
            <line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </div>
      <div class="c-newsletter__form__message">
        {%- if form.errors -%}
          <p class="c-newsletter__form__message__error" id="Newsletter-error">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </p>
        {%- endif -%}
      </div>
    </div>
    <div class="c-newsletter__form__button">
      {% if section.settings.title_image != blank %}
        <img src="{{ section.settings.title_image | image_url }}">
      {% elsif shop.metaobjects.svgs['svgs-wjxuznox'].join_the_hive_community.value != blank %}
        <img src="{{ shop.metaobjects.svgs['svgs-wjxuznox'].join_the_hive_community.value | image_url }}">
        {% else %}
      <svg
        fill="none"
        height="216"
        viewbox="0 0 650 216"
        width="650"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M41.2743 204.383C42.3954 204.709 43.2102 204.915 43.7194 205.009C44.2286 205.103 44.7423 205.156 45.2619 205.183C46.4656 205.239 47.3886 204.911 48.0397 204.205C48.6909 203.499 49.0623 202.236 49.1378 200.417L51.8898 140.652L63.3648 141.176L60.5865 201.656C60.4622 204.398 60.058 206.673 59.3732 208.472C58.6885 210.271 57.8392 211.7 56.8152 212.735C55.7911 213.769 54.6565 214.486 53.4039 214.893C52.1514 215.3 50.8948 215.478 49.6333 215.418C47.8197 215.335 46.0869 215.145 44.4349 214.85C42.783 214.555 41.5864 214.211 40.8467 213.834L41.2743 204.383ZM49.9882 122.595C50.0942 120.2 51.0095 118.224 52.7259 116.669C54.4422 115.113 56.463 114.391 58.7882 114.503C61.1956 114.616 63.19 115.528 64.7642 117.249C66.3383 118.969 67.0709 121.011 66.9619 123.374C66.8582 125.703 65.9408 127.655 64.2088 129.22C62.4851 130.784 60.4161 131.519 58.0088 131.406C55.6843 131.302 53.7387 130.386 52.1735 128.672C50.6075 126.951 49.8845 124.925 49.9882 122.595Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M77.9963 166.631C77.8457 163.2 78.3218 159.894 79.416 156.706C80.5102 153.517 82.1287 150.683 84.2715 148.203C86.4143 145.724 89.0353 143.727 92.1272 142.221C95.219 140.714 98.7391 139.867 102.689 139.694C106.631 139.522 110.233 140.053 113.479 141.279C116.733 142.505 119.55 144.262 121.93 146.542C124.309 148.822 126.19 151.491 127.539 154.56C128.889 157.629 129.649 160.89 129.802 164.344C129.958 167.84 129.491 171.153 128.409 174.292C127.326 177.43 125.698 180.249 123.524 182.747C121.35 185.245 118.697 187.254 115.565 188.764C112.432 190.273 108.895 191.114 104.954 191.295C101.012 191.467 97.427 190.943 94.213 189.705C90.9998 188.475 88.2145 186.707 85.8581 184.409C83.5016 182.111 81.6462 179.448 80.2748 176.414C78.9035 173.379 78.1447 170.127 77.9963 166.631ZM89.47 166.13C89.5585 168.221 89.9817 170.2 90.7405 172.075C91.4992 173.951 92.5375 175.555 93.865 176.904C95.1925 178.253 96.7647 179.31 98.5647 180.067C100.365 180.833 102.349 181.164 104.508 181.069C106.667 180.974 108.633 180.471 110.398 179.55C112.163 178.63 113.641 177.44 114.833 175.981C116.024 174.521 116.931 172.825 117.547 170.892C118.162 168.96 118.434 166.951 118.337 164.861C118.241 162.77 117.801 160.793 117.018 158.919C116.235 157.046 115.18 155.435 113.869 154.093C112.558 152.742 110.978 151.687 109.144 150.924C107.303 150.162 105.311 149.832 103.144 149.927C100.985 150.022 99.0358 150.532 97.3109 151.441C95.5785 152.358 94.1167 153.546 92.909 155.007C91.7014 156.468 90.8014 158.156 90.2172 160.069C89.6248 161.983 89.3787 164.006 89.47 166.13Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M137.089 120.228C136.753 117.848 137.295 115.741 138.714 113.893C140.134 112.044 141.982 110.96 144.261 110.642C146.636 110.306 148.761 110.838 150.627 112.237C152.492 113.637 153.587 115.506 153.92 117.855C154.25 120.162 153.714 122.251 152.312 124.107C150.91 125.97 149.021 127.066 146.638 127.402C144.327 127.731 142.235 127.197 140.378 125.797C138.512 124.389 137.418 122.536 137.089 120.228ZM149.243 186.204L142.362 137.615L153.737 136.008L160.618 184.596L149.243 186.204Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M182.67 181.206L170.963 133.549L182.122 130.813L183.736 137.384C184.606 134.445 186.209 131.99 188.553 130.017C190.897 128.045 193.833 126.626 197.376 125.76C200.846 124.909 203.905 124.775 206.56 125.365C209.215 125.948 211.465 127.059 213.319 128.689C214.921 130.169 216.204 131.948 217.178 134.018C218.143 136.096 219.04 138.779 219.844 142.077L226.801 170.398L215.642 173.134L209.563 148.391C209.061 146.353 208.417 144.484 207.625 142.784C206.833 141.084 205.896 139.7 204.808 138.641C203.72 137.582 202.422 136.837 200.914 136.406C199.414 135.975 197.66 136.008 195.66 136.499C191.755 137.455 189.217 139.551 188.027 142.773C186.838 146.003 186.745 149.652 187.75 153.727L193.829 178.471L182.67 181.206Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M251.576 119.865L247.889 111.036L255.59 107.822L249.856 94.101L260.453 89.6771L266.187 103.398L276.595 99.057L280.282 107.886L269.883 112.235L277.695 130.92C278.5 132.856 279.299 134.351 280.074 135.397C280.849 136.451 281.66 137.165 282.507 137.541C283.353 137.916 284.217 138.035 285.117 137.906C286.017 137.776 286.985 137.493 288.03 137.055C288.884 136.7 289.854 136.244 290.93 135.705C292.007 135.166 292.771 134.721 293.226 134.385L297.112 143.688C296.309 144.17 295.222 144.775 293.85 145.497C292.477 146.218 291.012 146.906 289.461 147.554C288.163 148.096 286.623 148.602 284.853 149.089C283.081 149.567 281.204 149.603 279.231 149.206C277.257 148.8 275.307 147.745 273.39 146.038C271.472 144.332 269.706 141.563 268.108 137.737L259.303 116.665L251.576 119.865Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M307.546 138.91L276.238 72.1051L286.64 67.2395L299.99 95.7192C300.268 92.6689 301.363 89.9472 303.275 87.5542C305.187 85.1612 307.794 83.19 311.088 81.6492C314.319 80.1386 317.3 79.4048 320.014 79.4655C322.728 79.5181 325.159 80.1698 327.289 81.4061C329.148 82.5436 330.759 84.0313 332.114 85.8779C333.47 87.7246 334.872 90.182 336.313 93.2591L348.69 119.669L338.288 124.535L327.473 101.462C326.581 99.5652 325.583 97.8588 324.479 96.3423C323.374 94.8258 322.178 93.6618 320.897 92.8334C319.617 92.005 318.203 91.5328 316.648 91.4012C315.094 91.2778 313.378 91.6444 311.51 92.5165C307.869 94.2195 305.79 96.7668 305.257 100.168C304.723 103.569 305.348 107.162 307.133 110.963L317.947 134.036L307.546 138.91Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M348.476 92.3931C347.084 89.0328 346.276 85.686 346.051 82.3444C345.826 79.0028 346.219 75.8683 347.222 72.9499C348.218 70.0322 349.862 67.3926 352.154 65.0231C354.447 62.6617 357.378 60.7352 360.964 59.2502C363.885 58.038 366.843 57.421 369.846 57.3985C372.849 57.376 375.694 57.8842 378.373 58.9238C381.052 59.9634 383.438 61.4965 385.533 63.5312C387.619 65.5585 389.277 68.034 390.482 70.9437C390.815 71.7338 391.178 72.669 391.593 73.7387C392.002 74.8173 392.391 76.1435 392.756 77.7426L360.6 91.0878C361.271 92.7087 362.138 94.148 363.203 95.4057C364.268 96.6634 365.487 97.6285 366.862 98.3092C368.243 98.981 369.809 99.3166 371.574 99.3146C373.339 99.3126 375.286 98.8679 377.407 97.9814C378.895 97.3646 380.114 96.6735 381.063 95.908C382.005 95.1433 382.746 94.3391 383.271 93.5051C383.795 92.671 384.15 91.7702 384.328 90.8196C384.505 89.869 384.594 88.9264 384.576 87.9933L395.278 83.5517C395.703 85.6374 395.749 87.8061 395.415 90.0415C395.082 92.277 394.338 94.4342 393.194 96.5044C392.049 98.5746 390.473 100.511 388.466 102.306C386.459 104.1 384 105.608 381.087 106.819C377.247 108.409 373.641 109.125 370.269 108.967C366.897 108.809 363.805 108.012 360.992 106.582C358.18 105.153 355.715 103.2 353.598 100.741C351.482 98.282 349.764 95.5003 348.476 92.3931ZM357.434 83.2207L379.647 74.0032C378.329 70.8331 376.263 68.7466 373.437 67.7201C370.612 66.7018 367.589 66.8655 364.351 68.2045C361.239 69.4911 358.962 71.474 357.501 74.1382C356.047 76.8017 356.023 79.8294 357.434 83.2207Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M435.077 86.1761L420.218 13.924L431.473 11.6142L437.806 42.4184C438.786 39.5103 440.485 37.12 442.903 35.2393C445.321 33.3587 448.316 32.0497 451.879 31.3212C455.378 30.5984 458.439 30.5871 461.07 31.2703C463.701 31.9534 465.909 33.1498 467.695 34.8432C469.236 36.3781 470.458 38.2039 471.344 40.3138C472.231 42.4238 473.024 45.1407 473.707 48.4659L479.578 77.0321L468.323 79.342L463.194 54.3827C462.772 52.3296 462.201 50.4375 461.471 48.7071C460.75 46.9759 459.86 45.5632 458.809 44.46C457.758 43.3569 456.489 42.5684 455.009 42.0858C453.521 41.6039 451.777 41.563 449.754 41.9817C445.82 42.7925 443.199 44.7897 441.89 47.965C440.582 51.1485 440.349 54.7934 441.193 58.8996L446.322 83.8588L435.077 86.1761Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M485.655 9.36951C485.441 6.97804 486.084 4.89533 487.592 3.12066C489.1 1.346 491.006 0.355627 493.295 0.151018C495.69 -0.0630564 497.782 0.569796 499.574 2.0577C501.365 3.5456 502.366 5.47309 502.577 7.83203C502.785 10.1584 502.148 12.2079 500.657 13.9974C499.167 15.7868 497.221 16.789 494.826 17.003C492.497 17.2113 490.445 16.5748 488.653 15.0869C486.862 13.599 485.862 11.6878 485.655 9.36951ZM494.49 75.8712L490.055 26.9981L501.497 25.9588L505.94 74.8311L494.49 75.8712Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M514.546 24.4397L526.909 24.5151L540.205 57.2551L554.105 24.6666L566.467 24.7339L543.923 73.682L536.193 73.6352L514.546 24.4397Z" fill="{{ section.settings.bg_color }}"/>
        <path d="M568.762 49.5775C569.203 45.9714 570.147 42.6565 571.609 39.6396C573.072 36.6227 574.947 34.0855 577.259 32.034C579.563 29.9831 582.303 28.4919 585.455 27.5624C588.615 26.6322 592.116 26.4011 595.967 26.8686C599.105 27.2522 601.986 28.1671 604.604 29.6221C607.23 31.0764 609.447 32.9198 611.271 35.1427C613.096 37.3656 614.412 39.8799 615.228 42.6685C616.045 45.4652 616.268 48.4216 615.883 51.5553C615.779 52.4092 615.637 53.3976 615.468 54.536C615.299 55.6744 614.976 57.0234 614.509 58.5902L579.948 54.399C579.734 56.14 579.786 57.8243 580.087 59.4374C580.395 61.0497 580.976 62.4982 581.844 63.7571C582.712 65.0241 583.916 66.089 585.446 66.9525C586.985 67.8153 588.891 68.3828 591.182 68.6618C592.784 68.8547 594.187 68.8522 595.384 68.6469C596.581 68.4415 597.618 68.1109 598.488 67.6397C599.357 67.1684 600.107 66.5601 600.731 65.8238C601.354 65.0794 601.892 64.3016 602.336 63.4829L613.839 64.8734C613.175 66.9006 612.146 68.8046 610.754 70.5853C609.361 72.366 607.658 73.8795 605.634 75.1181C603.618 76.356 601.286 77.2696 598.661 77.8486C596.028 78.4283 593.148 78.5301 590.01 78.1465C585.885 77.6462 582.392 76.4989 579.538 74.6961C576.676 72.9021 574.377 70.6889 572.639 68.0565C570.902 65.4322 569.714 62.5211 569.084 59.3305C568.474 56.1791 568.355 52.9183 568.762 49.5775ZM581.085 45.9915L604.963 48.883C605.381 45.4757 604.61 42.642 602.65 40.3657C600.698 38.0886 597.983 36.7407 594.505 36.3218C591.161 35.9157 588.201 36.5165 585.619 38.1248C583.037 39.7249 581.523 42.3529 581.085 45.9915Z" fill="{{ section.settings.bg_color }}"/>
      </svg>
          {% endif %}
    </div>
    {%- if form.posted_successfully? -%}
      <p class="c-newsletter__form__message__success" id="Newsletter-success" tabindex="-1">
        {% if section.settings.success != blank -%}
          {{- section.settings.success | escape -}}
        {%- else -%}
          {{ 'sections.newsletter.thanks' | t }}
        {%- endif %}
      </p>
    {%- endif -%}
  {% endform %}
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "c-newsletter",
  "settings": [
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Graphic Title"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Form Title",
      "default": "Enter your email to receive 10% off your next order and be the first to know about our sales, news and events!"
    },
    {
      "type": "text",
      "id": "success",
      "label": "Sucess Message",
      "default": "Thanks for subscribing"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FBF9F6"
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
